include ../mixins/sub-menu.pug
header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.jpg" alt="Logo")
            .col-5
                form(
                        action=`/search`
                        method="GET"
                    )
                        div(class="d-flex align-items-center mb-0")
                            input(
                                class="form-control"
                                type="text"
                                placeholder="Nhập từ khóa cần tìm kiếm..."
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Search
            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -path = "/product"
                            a(href=path) Sản phẩm
                            +sub-menu(productCategory, path)
                        li
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalProduct : 0})
                        if(user)
                            li
                                a(href="/user/logout") Đăng xuất
                        else
                            li
                                a(href="/user/login") Đăng nhập
                            li
                                a(href="/user/register") Đăng ký
                