extends ../../layout/default

block main
    .container
        .row.mt-4
            .col-12
                .card.mb-4
                    .card-header <h3> Thông tin cá nhân </h3>
                    .card-body
                        if(user.avatar)
                            img(
                                src=user.avatar
                                style="height: 100px"
                            )
                        if(user.fullName)
                            p Họ tên: <b> #{user.fullName} </b>
                        if(user.email)
                            p Email: <b> #{user.email} </b>
                        if(user.phone)
                            p Số điện thoại: <b> #{user.phone} </b>
                        if(role.title)
                            p Phân quyền: <b> #{role.title} </b>

            .col-6
                .card.mb-4
                    .card-header Danh mục sản phẩm
                    .card-body
                        p Số lượng: <b>#{statistics.category.total}</b>
                        p Hoạt động: <b>#{statistics.category.active}</b>
                        p Dừng hoạt động: <b>#{statistics.category.inactive}</b>
            .col-6
                .card.mb-4
                    .card-header Sản phẩm
                    .card-body
                        p Số lượng: <b>#{statistics.product.total}</b>
                        p Hoạt động: <b>#{statistics.product.active}</b>
                        p Dừng hoạt động: <b>#{statistics.product.inactive}</b>
            .col-6
                .card.mb-4
                    .card-header Tài khoản admin
                    .card-body
                        p Số lượng: <b>#{statistics.account.total}</b>
                        p Hoạt động: <b>#{statistics.account.active}</b>
                        p Dừng hoạt động: <b>#{statistics.account.inactive}</b>
            .col-6
                .card.mb-4
                    .card-header Tài khoản client
                    .card-body
                        p Số lượng: <b>#{statistics.user.total}</b>
                        p Hoạt động: <b>#{statistics.user.active}</b>
                        p Dừng hoạt động: <b>#{statistics.user.inactive}</b>