extends ../../layout/default.pug
include ../../mixins/box-head
include ../../mixins/alert
block main
    .container
        include ../../partials/box-friend.pug
        .row.mb-3.friends(data-user-accept=user.id)
            .col-12.mb-3
                +box-head(pageTitle)
            each item in users
                .col-3.mb-2.friend-infor
                    .users
                        .users__img
                            img(src=item.avatar alt=item.fullName)
                        .users__infor
                            .users__infor__name #{item.fullName}
                            .users__infor__action
                                button(class="btn btn-primary btn-sm mr-1" btn-accept-friend=item.id) Chấp nhận
                                button(class="btn btn-secondary btn-sm mr-1" btn-refuse-friend=item.id) Từ chối
                                button(class="btn btn-secondary btn-sm mr-1" btn-deleted-friend disabled) Đã xóa
                                button(class="btn btn-secondary btn-sm mr-1" btn-accepted-friend disabled) Đã chấp nhận
block script
    script(type="module" src="/js/users.js")

