.body__sider
    ul
        li
            a(href=`${prefixAdmin}/dashboard`) Tổng quan 
        if(role.permissions.includes("products_view"))
            li
                a(href=`${prefixAdmin}/product`) Sản phẩm 
        //- li
        //-     a(href=`${prefixAdmin}/restore`) Khôi phục sản phẩm
        if(role.permissions.includes("products-category_view"))
            li
                a(href=`${prefixAdmin}/product-category`) Danh mục sản phẩm
        if(role.permissions.includes("role_permission"))
            li
                a(href=`${prefixAdmin}/permission`) Phân quyền
        if(role.permissions.includes("role_view"))
            li
                a(href=`${prefixAdmin}/role`) Nhóm quyền
        if(role.permissions.includes("account_view"))
            li
                a(href=`${prefixAdmin}/account`) Quản lý tài khoản